.content {
    grid-area: content;
}

.postsBlock {
    box-shadow: 0 0 5px rgba(0,0,0,0.1);    
    background: #FFFFFD;
    padding: 10px;
    margin-left: 10px;
}

.posts textarea {
    background: #FFFFFD;
}