.header {
    grid-area: header;
    background-color: #4267B2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 50px;
}

.header h1 {
    color: #fff;
    /* margin-left: 400px; */
}

.loginBlock {
    /* float: right; */
}

.loginBlock a {
    color: #fff;
}