.nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
}

.item {
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
}

.item:hover {
    cursor: pointer;
    background-color:  #e7ebf3;
}

.item a {
    color: #3151A6;
    text-decoration: none;
    font-size: 16px;
}

.item a.active {
    font-weight: bold;
}

.friendsWindow {
    margin-top: 30px;
    height: auto;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

