.wallpaper {
    width: 100%;
    height: 300px;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid #e7ebf3;
    transform: translateY(0%);
}

.descriptionBlock {
    display: flex;
    flex-direction: column;
}