* {
  margin: 0;
  font-family: sans-serif;
}

.app-wrapper {
  background-color:#EDEEF0;
  display: grid;
  margin: 0 auto;
  width: 1200px;
  grid-template-areas: 
  "header header"
  "nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1.5fr 10.5fr;
  /*grid-gap: 10px; */
}

.app-wrapper-content {
  grid-area: content;
}

a {
  text-decoration: none;
}